<div class="container" style="padding-bottom: 700px;">
	<br>
	<h2>Meu Perfil</h2>

	<div class="row">
		<label for="nome">NOME:</label>
		<label *ngIf="!editable"> {{ usuario.nome }} </label>
		<input *ngIf="editable" id="nome" type="text" [(ngModel)]="usuario.nome" style="width:300px">
	</div>
	<div class="row">
		<label for="sobrenome">SOBRENOME:</label>
	</div>
	<div class="row">
		<label for="telefone">TELEFONE:</label>
	</div>
	<div class="row">
		<label for="email">EMAIL:</label>
	</div>
	<div class="row">
		<label for="senha">SENHA:</label>
	</div>
	<br><br>
	<button class="btn btn-primary" style="width:200px" (click)="onEdit()">EDITAR PERFIL</button>
	<button class="btn btn-primary" style="width:200px" (click)="onDelete()">EXCLUIR PERFIL</button>
</div>
