<div class="container">
	<br>
	<h2>Minhas Peças</h2><br>

	<mat-expansion-panel *ngFor="let cat of categorias; let i = index" (opened)="onCategorySelect(cat, i)"
		[expanded]="indexExpanded == i">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<b>{{ cat.categoria }}</b>
			</mat-panel-title>
		</mat-expansion-panel-header>
		<div *ngFor="let peca of cat.pecas">
			<p *ngIf="!editable">{{ peca.nome }} - {{ peca.modelo }} - Instalação: {{ peca.Data_Instalacao }}</p>
			<p style="cursor: pointer;" *ngIf="editable" (click)="onCompSelect(cat.categoria, peca)">{{ peca.nome }} -
				{{ peca.modelo }}
			</p>
		</div>
	</mat-expansion-panel>
	<br><br>
	<div *ngIf="editable" class="row">
		<p>Selecione um motivo e selecione a peça na lista de categorias.</p>
	</div>
	<div *ngIf="editable" class="row">
		<label for="Motivo">MOTIVO DA TROCA:</label>
		<ng-select id='Motivo' style="width:400px ;" [items]="motivos" bindValue="Motivo_ID" bindLabel="motivo"
			[virtualScroll]="true" [(ngModel)]="motivoTroca">
		</ng-select>
	</div>
	<div *ngIf="editable" class="row">
		<label for="Motivo">Nova peça:</label>
		<label> {{ pecaTroca }} </label>
	</div>

	<br><br><br><br>
	<button class="btn btn-primary" style="width:200px" (click)="onSubmit()" *ngIf="editable">SALVAR</button>
	<button class="btn btn-primary" style="width:200px" (click)="onCancel()" *ngIf="editable">CANCELAR</button>
	<button class="btn btn-primary" style="width:200px" (click)="onEdit()" *ngIf="!editable">TROCAR PEÇA</button>

</div>
