.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

.mat-expansion-panel-header{
    background-color: #fff;
    margin-bottom: 2px;
}

.mat-expansion-panel{
	margin: 3px;
}

button{
    background-color: #96DFCE;
    border-radius: 40px;
    height: 40px;
    box-shadow: 1px 1px 2px #dcdcdc;
    border: 1px solid #96DFCE;
    font-size: 14px;
    color: #000000;
    margin: 2px;
}

button:hover{
    background-color:#203C7F;
    border: 1px solid #203C7F;
}

h2{
    font-size: 35px;
    text-align: left;
}

h3{
    text-align: left;
}
