<div class="cadastro1">
    <div class="conteiner">
        <h2>Adicione uma nova peça: </h2><br>
        <div class="row">
            <label for="nome">CATEGORIA:⠀</label>
            <!-- <input id="nome" type="text" [(ngModel)]="nome" style="width:300px"> -->
        </div>
        <br>
        <div class="row">
            <label for="sobrenome">DESCRIÇÃO:⠀</label>
            <!-- <input id="sobrenome" type="text" [(ngModel)]="sobrenome" style="width:300px"> -->
        </div>
        <br>
        <div class="row">
            <label for="telefone">MARCA:⠀</label>
            <!-- <input id="telefone" type="text" [(ngModel)]="telefone" style="width:200px"> -->
        </div>
        <br>
        <div class="row">
            <label for="telefone">MARCA:⠀</label>
            <!-- <input id="telefone" type="text" [(ngModel)]="telefone" style="width:200px"> -->
        </div>
        <br>
        <div class="row">
            <label for="email">DATA DE INSTALAÇÃO:⠀</label>
            <!-- <input id="email" type="email" [(ngModel)]="email" style="width:500px"> -->
        </div>
        <br>
    </div>
</div>