<div class="row">
    <div class="col-sm-3" style="padding-bottom: 300px">
        <div class="secao1">
            <h3>BEM VINDO, <br><label>Fulano</label></h3>
        </div>
        <div class="secao1">
            <p>Insira a atual quilometragem:</p>
            <input><br>
            <button style="width:94%">ATUALIZAR QUILOMETRAGEM</button>
        </div>
        <div class="secao1">
            <p>Próxima troca de Peça:</p>
            <div class="lista" style="height:140px" style="width:97%">
                <label></label>
            </div>
            <a href="/"><button style="width:94%">ADICIONAR PEÇA</button></a>
        </div><br>
    </div>

    <!-- AQUI A GENTE INSERE A DASHBOARD DO POWER BI -->
    <div class="col-sm-9">
        <p>Dashboard</p>
    </div>
    <!-- FIM DA DASH -->