<div class="row">
	<!-- LATERAL ESQUERDA-->
	<div class="col-sm-7">
		<div class="row">
			<h2>BEM VIND@, <label style="font-size: 30px;">{{usuario.nome}}</label></h2>
		</div>
		<div class="row" style="float: center;">
			<div class="section">
				<h3 style="float: center;">MINHA QUILOMETRAGEM:</h3>
				<div class="lista" style="height:140px" style="float:center" style="width:100%">
					<label>{{usuario.quilometragem}}</label>
				</div>
			</div>

		</div>

		<!-- ARTIGOS -->
		<div class="row">
			<h2>Artigos</h2>
		</div>
		<div class="row">
			<div class="article">
				<a target="_blank" style="color:black"
					href="https://chiptronic.com.br/blog/4-passos-para-encontrar-o-melhor-fornecedor-de-autopecas">
					<img src="assets/imgs/4passos.jpg" width="100%"><br><br>
					<p style="font-size: 20px;">4 passos para encontrar o melhor fornecedor de autopeças</p>
				</a>
			</div>
			<div class="article">
				<a target="_blank" style="color:black"
					href="https://www.abracomex.org/camex-reduz-para-2-tarifa-de-importacao-de-varios-tipos-de-autopecas">
					<img src="assets/imgs/crescem-vendas.jpg" width="100%"><br><br>
					<p style="font-size: 20px;">Camex reduz para 2% tarifa de importação de vários tipos de autopeças
					</p>
				</a>
			</div>
			<!-- FIM ARTIGOS -->
		</div>

	</div>
	<!-- FIM LATERAL ESQUERDA-->

	<!-- LATERAL DIREITA-->
	<div class="col-sm-5">
		<div class="section">
			<p>Insira a atual quilometragem:</p>
			<input><br>
			<button style="width:94%">ATUALIZAR QUILOMETRAGEM</button><br><br><br>

			<h3>Minhas peças</h3>
			<p>Próxima troca de Peça:</p>
			<div class="lista" style="height:140px" style="width:97%">
				<label>{{nextExchange}}</label>
			</div><br>
			<p>Quantidade de Peças Cadastradas:</p>
			<div class="lista" style="height:140px" style="width:97%">
				<label>{{parts}}</label>
			</div><br>
			<p>Principal motivo de troca:</p>
			<div class="lista" style="height:140px" style="width:97%">
				<label>{{mainReason}}</label>
			</div><br>
			<p>Categoria mais trocada:</p>
			<div class="lista" style="height:140px" style="width:97%">
				<label>{{category}}</label>
			</div><br>
			<a href="/"><button style="width:94%">ADICIONAR PEÇA</button></a>
		</div>
	</div>
	<!-- FIM LATERAL DIREITA-->

</div>
