<div class="row">
	<div class="col-sm-3">
		<!-- <div class="secao1">
			<h3>BEM VINDO, <label>Fulano</label></h3>
		</div> -->

		<div class="secao1">
			<h3>Minha Quilometragem</h3>
			<div class="lista" style="height:140px" style="width:97%">
				<label></label>
			</div>
			<p>Insira a atual quilometragem:</p>
			<input><br>
			<button style="width:94%">ATUALIZAR QUILOMETRAGEM</button>
		</div>

		<!-- BARRA LATERAL -->
		<div class="secao1">
			<h3>Minhas peças</h3>
			<p>Próxima troca de Peça:</p>
			<div class="lista" style="height:140px" style="width:97%">
				<label></label>
			</div><br>
			<p>Quantidade de Peças Cadastradas:</p>
			<div class="lista" style="height:140px" style="width:97%">
				<label></label>
			</div><br>
			<p>Principais motivos de troca:</p>
			<div class="lista" style="height:140px" style="width:97%">
				<label></label>
			</div><br>
			<p>Categorias mais trocadas:</p>
			<div class="lista" style="height:140px" style="width:97%">
				<label></label>
			</div><br>
			<a href="/"><button style="width:94%">ADICIONAR PEÇA</button></a>
		</div>
		<!-- FIM BARRA LATERAL -->
	</div>

	<!-- AQUI A GENTE INSERE A DASHBOARD DO POWER BI -->
	<div class="col-sm-9">
		<div class="row">
				<h3 style="margin: 10px">BEM VINDO, <label>Fulano</label></h3>
			<!-- <div class="col-sm-4">
				<div class="secao2">
					<h3 style="font-size: 20px;">MINHA QUILOMETRAGEM ATUAL:
						<div class="lista" style="height:140px" style="width:97%">
							<label></label>
						</div>
					</h3>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="secao2">
					<h3>BEM VINDO, <br><label>Fulano</label></h3>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="secao2">
					<h3>BEM VINDO, <br><label>Fulano</label></h3>
				</div>
			</div> -->
		</div>

		<div class="row">
			<div class="dashboard">
				<p>Dashboard</p>
			</div>
		</div>
	</div>
	<!-- FIM DA DASH -->
</div>
