<!DOCTYPE html>
<html>  

<body>
    <a href="/login">Login</a>
    <br>
    <label for="nome">Nome:</label>
    <input id="nome" type="text" [(ngModel)]="nome">    
    <br>
    <label for="sobrenome">Sobrenome:</label>
    <input id="sobrenome" type="text" [(ngModel)]="sobrenome">   
    <br>
    <label for="telefone">Telefone:</label>
    <input id="telefone" type="text" [(ngModel)]="telefone">  
    <br>
    <label for="id_usuario">Sobrenome:</label>
    <input id="id_usuario" type="text" [(ngModel)]="id_usuario">  
    <br>
    <label for="senha">Senha:</label>
    <input id="senha" type="text" [(ngModel)]="senha"> 
    <br>
   <button (click)="">Criar Conta</button>
    
</body>    
    
    
    
</html>