header {
    background-image: url("src/assets/imgs/logo.jpeg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 340px 80px;
    background-color: #004AAB;
    position: fixed;
    display: inline-block;
    height: 90px;
    width: 100%; 
    color: white;
    box-shadow: 2px 2px 2px 1px #dcdcdc;
    margin-bottom: 10px;
}