<div class="container">
	<br>
	<h2>Cadastre Suas Peças</h2><br>
	<h3>{{ message }}</h3>

	<mat-expansion-panel *ngFor="let cat of categorias; let i = index" (opened)="onCategorySelect(cat, i)"
		[expanded]="indexExpanded == i">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<b>{{ cat.categoria }}</b>
			</mat-panel-title>
		</mat-expansion-panel-header>
		<div *ngFor="let peca of cat.pecas">
			<p (click)="onCompSelect(cat.categoria, peca.Peca_ID)">{{ peca.nome }} - {{ peca.modelo }}</p>
		</div>
	</mat-expansion-panel>

	<br><br><br><br>
	<button class="btn btn-primary" style="width:200px" (click)="onSubmit()">SALVAR</button>

</div>
