<mat-drawer-container class="example-container" autosize style="height: 100%;">
    <!-- NAVEGAÇÃO LATERAL -->
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <a href="/dashboard" style="color:white">HOME</a><br>
        <a href="/profile" style="color:white">MEU PERFIL</a><br>
        <a href="/automobile" style="color:white">MEU AUTOMÓVEL</a><br>
        <a href="/complist" style="color:white">MINHAS PEÇAS</a><br>
        <a href="/" style="color:white">SAIR</a><br>
    </mat-drawer>
    <div class="example-sidenav-content">
        <div class="btnmenu" mat-button (click)="drawer.toggle()"> MENU</div>
        <!-- <button type="button" mat-button (click)="drawer.toggle()">MENU</button> -->
    </div>
    <!-- FIM DA NAVEGAÇÃO LATERAL -->

    <div class="container" style="padding-bottom: 700px;">
        <!-- CONTEUDO DA PAGINA -->
        
        <!-- FIM DO CONTEUDO DA PAGINA -->
    </div>

</mat-drawer-container>