<nav class="navbar">
	<a href="/"><img src="assets/imgs/logo.jpeg" alt="logo" width="240px" height="60px"></a>
	<a href="/dashboard"><img src="assets/imgs/iconfinder_computer_1055084.png" alt="Painel" width="50px" height="50px" style="float: left;"></a>
    <a href="/profile"><img src="assets/imgs/iconfinder_profle_1055000.png" alt="Meu Perfil" width="50px" height="50px"></a>
    <a href="/automobile"><img src="assets/imgs/iconfinder_steeringwheel_1054968.png" alt="Meu Automóvel" width="50px" height="50px"></a>
    <a href="/complist"><img src="assets/imgs/iconfinder_tools_1054957.png" alt="Minhas Peças" width="50px" height="50px"></a>
	<a href="/"></a>
</nav>
