<!DOCTYPE html>

<head>
	<title>{{ title }}</title>
</head>

<body>

    <app-header></app-header>
    
    
    <router-outlet></router-outlet>
    <section><br><br><br>
        <img src="assets/imgs/carraotunado.png">
    </section>

    <aside>
        <h1>Controle a vida útil e analise a saúde do seu automóvel em poucos cliques!</h1><br>
        <h2>100% Gratuito!</h2><br>
        <a href="/register">Cadastrar</a>
        <br><br>
        <a href="/login">Logar</a>
    </aside>


    <app-footer></app-footer>
    
</body>