.wrapper {
    height:auto !important;
    min-height:90%;
}

p {
    font-family: monospace;
}

h1{
    color: #58646D;
    font-size: 60px;
}

h2{
    color: #96DFCE;
    font-size: 50px;
}

body{
    background-color: white;
    width: 100%;
}

.container{
    width: 100%;
}