@import "~@ng-select/ng-select/themes/ant.design.theme.css";


p {
    font-family: monospace;
}

section {
//    background-color: aqua;
//    float: left;
//    width: 50%;
//    height: 100%;

    padding: 20px;
    float: center;
//    padding: 20px;
}
aside {
    margin-top: -400px;
    width: 50%;
    margin: 10px;
    height: 500px;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    background-color: lightgray;
    padding: 6%;
//    display: grid;
}

h2{
    color: #973C6C;
}

//botao{
//    float: center;
//    text-align: center;
//    width: 100px;
//    background-color: blueviolet;
//    padding: 10px;
//    border: 10px;
//    font-size: 72px;
// }
