.row {
	display: block;
}

section {
    float: center;
    text-align: center;
	left:50%;
	top:50%;
    height: auto;
}
    
button{
    background-color: #973C6C;
    border-radius: 40px;
    height: 50px;
    box-shadow: 1px 1px 2px #dcdcdc;
    border: 1px solid #973C6C;
}

input{
    background-color: #f5f5f5;
	border-radius: 40px;
    height: 50px;
    border: 1px solid #dcdcdc;
	padding-left: 13px;
	color: #8E8E8E;
}