footer {
    background-color: #004AAB;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
	width:100%;
	height: 7%;
	border-top: solid #004AAB;
	border-top-width: 12px;
	margin-top: 20px;
}

a {
	color: white;
}

p {
	margin-bottom: 0px;
}
