footer {
    background-color: #004AAB;
    color: #fff;
    letter-spacing: 0px;
	text-align: center;
	font-size: 12px;
	width:100%;
	height: 9%;
	border-top: solid #004AAB;
	border-top-width: 12px;
	margin-top: 20px;
	margin-bottom: -2px;
}

a {
	color: white;
}

p {
	margin-bottom: 0px;
}

a:hover
{
 text-decoration:none;
 color: #F0E79D;
}
