.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

.mat-expansion-panel-header{
    background-color: #f5f5f5;
    margin: 2px;
}

button{
    background-color: #96DFCE;
    border-radius: 40px;
    height: 40px;
    box-shadow: 1px 1px 2px #dcdcdc;
    border: 1px solid #96DFCE;
    font-size: 14px;
    color: #000000;
    margin: 2px;
}

button:hover{
    background-color:#203C7F;
    border: 1px solid #203C7F;
}
