
<div class="row">
	<div class="col-sm-6" style="width:60%">
		<img src="assets/imgs/carraotunado.png" width="85%">
	</div>

	<div class="col-sm-5">
		<br>
		<h1>Controle a vida útil e analise a saúde do seu automóvel em poucos cliques!</h1>
		<br>
		<h2>100% Gratuito!</h2>
		<br>
		<div class="row" style="display: block;">
			<a href="/register"><button style="width:320px">CADASTRAR</button></a>
		</div><br>
		<div class="row" style="display: block;">
			<a href="/login"><button style="width:320px">LOGAR</button></a>
		</div>
	</div>
</div>
