<div>
	<div class="row">
		<label for="nome">Nome:</label>
		<input id="nome" type="text" [(ngModel)]="nome">
	</div>
	<br>
	<div class="row">
		<label for="sobrenome">Sobrenome:</label>
		<input id="sobrenome" type="text" [(ngModel)]="sobrenome">
	</div>
	<br>
	<div class="row">
		<label for="telefone">Telefone:</label>
		<input id="telefone" type="text" [(ngModel)]="telefone">
	</div>
	<br>
	<div class="row">
		<label for="email">Email:</label>
		<input id="email" type="email" [(ngModel)]="email">
	</div>
	<br>
	<div class="row">
		<label for="senha">Senha:</label>
		<input id="senha" type="password" [(ngModel)]="senha">
	</div>
	<br>
	<p>Cadastre seu primeiro carro:</p>
	<div class="row">
		<label>Tipo de automóvel:</label>
		<ng-select id='tipo_automovel' [items]="tipos" bindValue="Tipo_ID" bindLabel="tipo" multiple="false"
			[virtualScroll]="true" placeholder="Selecione o Tipo" [(ngModel)]="tipoSelecionado"
			(change)="onTypeSelect()">
		</ng-select>
	</div>
	<br>
	<div class="row">
		<label>Automóvel:</label>
		<ng-select id='automovel' [items]="automoveis" bindValue="Automovel_ID" bindLabel="desc" multiple="false"
			[virtualScroll]="true" placeholder="Selecione o Automóvel" [(ngModel)]="automovelSelecionado">
		</ng-select>
	</div>
	<br>
	<div class="row">
		<label for="quilometragem">Quilometragem rodada:</label>
		<input id="quilometragem" type="text" [(ngModel)]="quilometragem">
	</div>
	<br>

	<button class="btn btn-primary" (click)="onSubmit()">Criar Conta</button>
</div>
